@model List<WebApplication6.Models.Kitap>

<div>
<table>
    <thead>
        <tr>
            <th style="color:red">BOOK ID</th>
            <th style="color: red">BOOK NAME  </th>
            <th style="color: red">BOOK TYPE  </th>
            <th style="color: red">WRITER INFO </th>
            <th><button style="color:blue" id="kitapEkleBtnMain">Add Book</button></th>
            <th><button style="color: brown" onclick="location.href='/Yazar/Index';">LIST WRITERS</button></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td id="bookId">@m.KitapId</td>
                <td>@m.KitapAdi</td>
                <td>@m.KitapTuru</td>
                <td>@Html.Action("YazarBilgisiBlogu", "Kitap",new {yazarid=m.YazarId})</td>
                <td><button style="color: blue" id="kitapGoruntuleBtn">Change Book Details</button></td>
                <td><button style="color: blue" id="kitapSilBtn">Delete Book</button></td>
                
            </tr>
        }
    </tbody>
</table>
</div>