<div>
    <form>
        <p>Name <input id="nameInp"/></p>
        <p> Nationality
            <select id="nationInp">
                <option value="TC">TC</option>
                <option value="USA">USA</option>
            </select>
        </p>
        <p><button id="olusturBtn" style="color: blue">Ekle</button><button id="vazgecBtn" style="color: blue">Vazgeç</button></p>

    </form>
</div>
