@{
    Layout = null;
}
<script type="text/javascript" src="@Url.Content("/Scripts/jquery-3.1.1.min.js")"></script>
<link href="@Url.Content("/Content/Site.css")" rel="stylesheet" type="text/css" />

@Html.Partial("JavaScript")

<div id="Liste">
    @Html.Action("Listele", "Yazar")
</div>

<div id="Ekle"></div>
<div id="Goruntule"></div>